/* Container geral */
.container-part4 {
    width: 100%;
    height: 90vh;
    background-color: #0c0f13;
}

/* Layout interno */
.contact-credits {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    gap: 20px;
    padding: 20px;
}

.contact {
    width: 50%;
    height: 90%;
    background-color: coral;
}

/* Coluna dos créditos */
.credits {
    width: 40%;
    height: 90%;
    background-color: lightblue;
    overflow: hidden;
    position: relative;
}

/* O texto dos créditos que irá se mover */
.credits-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    will-change: transform;
    display: flex;
    flex-direction: column;

    /* Define a animação */
    animation: scrollCredits 40s linear infinite; /* Ajuste '60s' para mudar a velocidade */
}

/* Estilização para o conteúdo dos créditos */
.credits-inner h2 {
    font-size: 2.5em;
    margin-top: 3em;     /* Aumenta a margem superior */
    margin-bottom: 1em;  /* Diminui a margem inferior */
    color: #fff;
    text-align: center;
}

.credits-inner h3 {
    font-size: 1.5em;
    margin-top: 2em;
    color: #fff;
    text-align: center;
}

.credits-inner p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #fff;
    text-align: center;
}

/* Define a animação de rolagem */
@keyframes scrollCredits {
    from {
        /* No início da animação, o texto está na parte inferior do container */
        transform: translateY(100%);
    }
    to {
        /* No final da animação, o texto se move para cima até sair da tela */
        transform: translateY(-100%);
    }
}