.container-part1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 75vh; 
    margin-top: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.infos-container {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
    gap: 50px;
    padding: 20px;
}

.image-self {
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
}

.image-self img 

.infos-self {
    width: 60%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; 
    margin-top: 40px;
}

.infos-container {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
    gap: 50px;
    padding: 20px;
}

.image-self {
    width: 300px;
    height: 400px;
    background-color: black;
    position: relative;
    border-radius: 50%;;
    border-color: white;
    border-style: solid;
}

.image-self img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 10%;
    left: 10%;
    border-color: white;
    border-width: 2px; 
    border-radius: 50%; 
    border-style: solid;
}

.infos-self {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 1.3rem;
    background-color: var(--accent-color);
    margin-top: 15px;
}

.question {
    display: flex;
}

.question h2 {
    color: var(--secondary-color);
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.question img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.name {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.name img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 85px;
    margin-right: 15px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.name h1 {
    font-size: 4rem;
    color: var(--white-color);
    font-family: 'Press Start 2P', monospace;
}

.container-about h2 {
    color: var(--secondary-color);
    font-family: 'Press Start 2P', monospace;
}

.response h2 {
    color: var(--white-color);
    font-family: 'Press Start 2P', monospace;
    margin-bottom: 5px;
    padding: 4px;
}

:root {
    --main-color: #4D4646;
    --secondary-color: #BFCFE7;
    --accent-color: #525CEB;
    --white-color: #F5EAEA;
}