.container-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Full viewport height */
    background-color: gray; /* Light background color */
    margin-top: 40px;
}

.infos-container {
    background-color: black;
    width: 95%;
    height: 90%;
}

.infos {
    width: 90%;
    height: 90%;
    background-color: blue;
     
}

