:root {
    --main-color: #03045e;
    --secundary-color: #023e8a;
    --accent-color: #00B4D8;
    --white-color: #90E0EF;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}