/* TABLETS */
@media (max-width: 900px) {

    .container-about {
        display: none;
    }

    .container-about-mobile {
        display: block;
        font-size: 1rem;
        background-color: var(--secundary-color);
        margin-top: 15px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 80vw;
    }

    .response h2 {
        font-size: 1, 1rem;
        margin-left: 5px;
    }

    .confidential-folder {
        width: 65vw;
        height: 50vh;
    }

    .open-folder {
        width: 80vw;
    }

    .box.info {
        display: none;
    }

    .box.text-box p {
        font-size: 1.4rem;
    }

    .destroy-button {
        width: 10px;
        bottom: -45px;
        left: 10%;
    }

    .contact-credits {
        display: flex;
        flex-direction: column;
    }

    .lanyard-image-container {
        display: none;
    }

    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: flex !important;
    }
}

/* CELULARES */
@media (max-width: 600px) {

    header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #main-inputs,
    .inputs {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        gap: 10px;
        justify-content: center;
        margin-top: 15px;
    }

    .pixel-title {
        font-size: 3rem;
    }

    .name h1 {
        font-size: 2.5rem;
        line-height: 40px;
    }

    .container-about {
        display: none;
    }

    .container-about-mobile {
        display: block;
        font-size: 1rem;
        background-color: var(--secundary-color);
        margin-top: 15px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 80vw;
    }

    .question h2 {
        font-size: 1rem;
        color: #fff;
    }

    .response h2 {
        font-size: 1, 1rem;
        margin-top: 7px;
        margin-left: 5px;
    }

    .confidential-folder {
        width: 65vw;
        height: 50vh;
    }

    .confidential-folder h1 {
        font-size: 1.5rem;
        line-height: 20px;
    }

    .top-secret {
        left: 35%;
        transform: rotate(-15deg);
    }

    .photocopy {
        bottom: 80px;
    }

    .open-folder {
        width: 80vw;
    }

    .document-inside {
        width: 100%;
    }

    .box.info {
        display: none;
    }

    .right-images {
        display: none;
    }

    .box.text-box p {
        font-size: 1.2rem;
    }

    .destroy-button {
        width: 10px;
        bottom: -45px;
    }

    .container-part3 h1 {
        font-size: 2.3rem;
    }

    .job {
        width: 80vw;
    }

    .contact-credits {
        display: flex;
        flex-direction: column;
    }

    .badge-card-container {
        height: 500px;
    }

    .badge-card-front {
        justify-content: center;
    }

    .contact-header h2 {
        font-size: 2.2rem;
    }

    .lanyard-image-container {
        display: block;
        left: 8%;
        top: -30%;
    }

    .lanyard-image-container img {
        width: 80%;
        height: 80%;
        object-fit: contain;
        transform: rotate(-10deg);
    }

    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: flex !important;
    }
}